/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.d_none {
  display: none;
}

.placeholder_red::-moz-placeholder {
  color: tomato;
}

.placeholder_red:-ms-input-placeholder {
  color: tomato;
}

.placeholder_red::placeholder {
  color: tomato;
}

.first_navigation {
  width: 80vw;
  margin: 0 auto;
  background-color: #5B605F;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.navigation_logo {
  margin: 2rem;
}

.logo_link {
  font-family: "Charmonman", sans-serif;
  color: white;
  margin: 2rem;
  font-size: 3rem;
  padding-left: 3rem;
  text-decoration: none;
}

.navigation_logo_2 {
  color: #E58A20;
}

.nav_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  width: 50rem;
  color: white;
  list-style: none;
  margin-right: 3rem;
}

.navigation_link {
  color: white;
  text-decoration: none;
  margin-right: 3rem;
}

.navigation_link:hover {
  color: #FF6600;
}

.banner {
  font-size: 10px;
  position: relative;
  max-width: 80vw;
  margin: 0 auto;
}
.banner .banner_img {
  max-height: 50em;
  display: flex;
  overflow-x: hidden;
}
.banner .banner_img img {
  width: 100%;
}
.banner .fa-arrow-right {
  font-size: 3em;
  position: absolute;
  top: calc(50% - 0.5em);
  right: 3%;
  cursor: pointer;
}
.banner .fa-arrow-left {
  font-size: 3em;
  position: absolute;
  top: calc(50% - 0.5em);
  left: 3%;
  cursor: pointer;
}

.calltoaction {
  box-sizing: border-box;
  padding: 0 100px;
  width: 80vw;
  height: 180px;
  margin: 0 auto;
  background-color: #5B605F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.calltoaction .calltoaction__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}
.calltoaction h3 {
  font-size: 22px;
  font-weight: 600;
  padding-bottom: 30px;
}
.calltoaction p {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.calltoaction button {
  background-color: #FF6600;
  color: white;
  font-weight: 700;
  padding: 15px 40px;
  border: none;
}

section {
  display: flex;
}

.container {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 30px auto;
}

.article {
  display: flex;
  flex-direction: column;
}

.article_title {
  font-size: 22px;
  width: 50%;
  color: #4a4a49;
  text-align: center;
  margin: 10px auto;
}

.article_text {
  width: 70%;
  color: #4a4a49;
  font-size: 18px;
  text-align: center;
  margin: 10px auto;
  padding: 20px;
}

article .fas, article .far {
  font-size: 60px;
  color: #A1A194;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
}

.grid_container {
  width: 100vw;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 15px;
}
.grid_container .grid_row {
  display: flex;
  flex-wrap: wrap;
}
.grid_container .grid_row .col-1 {
  min-height: 1px;
  width: 5.5555555556%;
}
.grid_container .grid_row .col-2 {
  min-height: 1px;
  width: 11.1111111111%;
}
.grid_container .grid_row .col-3 {
  min-height: 1px;
  width: 16.6666666667%;
}
.grid_container .grid_row .col-4 {
  min-height: 1px;
  width: 22.2222222222%;
}
.grid_container .grid_row .col-5 {
  min-height: 1px;
  width: 27.7777777778%;
}
.grid_container .grid_row .col-6 {
  min-height: 1px;
  width: 33.3333333333%;
}
.grid_container .grid_row .col-7 {
  min-height: 1px;
  width: 38.8888888889%;
}
.grid_container .grid_row .col-8 {
  min-height: 1px;
  width: 44.4444444444%;
}
.grid_container .grid_row .col-9 {
  min-height: 1px;
  width: 50%;
}
.grid_container .grid_row .col-10 {
  min-height: 1px;
  width: 55.5555555556%;
}
.grid_container .grid_row .col-11 {
  min-height: 1px;
  width: 61.1111111111%;
}
.grid_container .grid_row .col-12 {
  min-height: 1px;
  width: 66.6666666667%;
}
.grid_container .grid_row .col-13 {
  min-height: 1px;
  width: 72.2222222222%;
}
.grid_container .grid_row .col-14 {
  min-height: 1px;
  width: 77.7777777778%;
}
.grid_container .grid_row .col-15 {
  min-height: 1px;
  width: 83.3333333333%;
}
.grid_container .grid_row .col-16 {
  min-height: 1px;
  width: 88.8888888889%;
}
.grid_container .grid_row .col-17 {
  min-height: 1px;
  width: 94.4444444444%;
}
.grid_container .grid_row .col-18 {
  min-height: 1px;
  width: 100%;
}

.grid_plan {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 15px;
  height: 90%;
  width: 90%;
  margin: 40px auto 0;
  padding: 1em;
}

.add_recipt {
  grid-column: 1/4;
  grid-row: 1/4;
  background-color: #FFFFFA;
  border: 2px dotted #4a4a49;
}

.add_plan {
  grid-column: 4/7;
  grid-row: 1/4;
  background-color: #FFFFFA;
  border: 2px dotted #4a4a49;
}

.notification_info {
  grid-column: 7/13;
  background-color: #FFFFFA;
  border: 2px dotted #3498DB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notification_info .fas {
  color: #3498DB;
}
.notification_info h3 {
  flex: 1;
  font-family: "Open Sans", sans-serif;
  color: #3498DB;
  font-size: 20px;
  padding-left: 15px;
}

.notification_waring {
  grid-column: 7/13;
  background-color: #FFFFFA;
  border: 2px dotted #FFB03B;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notification_waring .fas {
  color: #FFB03B;
}
.notification_waring h3 {
  flex: 1;
  font-family: "Open Sans", sans-serif;
  color: #FFB03B;
  font-size: 20px;
  padding-left: 15px;
}

.notification_succes {
  grid-column: 7/13;
  background-color: #FFFFFA;
  border: 2px dotted #468966;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}
.notification_succes .fas {
  color: #468966;
}
.notification_succes h3 {
  flex: 1;
  font-family: "Open Sans", sans-serif;
  color: #468966;
  font-size: 20px;
  padding-left: 15px;
}

.fa-info-circle, .fa-exclamation-circle, .fa-check-circle {
  font-size: 40px;
  padding: 5px;
}

.notification_close {
  align-self: flex-start;
}

.notification_close .fa-window-close {
  font-size: 20px;
  align-self: flex-start;
  padding: 5px;
}

.week_plan {
  grid-column: 1/13;
  grid-row: 4/13;
  background-color: #FFFFFA;
  border: 2px dotted #4a4a49;
}

.app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.app .first_row {
  min-height: 10%;
}
.app .second_row {
  min-height: 90%;
}

.app_header {
  background-color: #4a4a49;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.app_header .navigation_logo {
  margin: 0;
  padding: 1.5em;
}
.app_header .navigation_logo .logo_link {
  font-size: 2.2em;
  margin: 0;
  padding: 0;
}
.app_header .user_logo {
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
  margin-right: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app_header .user_logo .user_name {
  margin-right: 0.7em;
  color: #FFFFFA;
}
.app_header .user_logo .fa-user-circle {
  color: #FF6600;
  font-size: 1.5em;
}

.app_nav {
  background-color: #5B605F;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.app_nav .app_nav-ref {
  width: 100%;
  text-decoration: none;
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFA;
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.app_nav .app_nav-ref span {
  display: none;
}
.app_nav .app_nav-ref:hover {
  border-left: 0.3em solid #FF6600;
}
.app_nav .app_nav-ref:hover span {
  display: block;
  color: #FF6600;
}

.app_content {
  background-image: url("../../images/bg.png");
}

.about_author {
  margin: 0 auto;
  width: 80vw;
  display: flex;
  justify-content: space-around;
  background-color: #FFFFFA;
}

.author_photo {
  height: 300px;
  width: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
  margin-left: 70px;
}

.about_author_container {
  width: 50%;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

.about_author_title {
  font-size: 35px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 20px;
}

.about_author_text {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.newsletter {
  box-sizing: border-box;
  padding: 0 100px;
  width: 80vw;
  height: 120px;
  margin: 0 auto;
  background-color: #5B605F;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.newsletter .newsletter__box {
  width: 70%;
}
.newsletter h3 {
  font-size: 36px;
  font-weight: 600;
}
.newsletter .newsletter__form {
  display: flex;
}
.newsletter .newsletter__form .newsletter__input {
  padding: 15px 5px;
  width: 300px;
}
.newsletter .newsletter__form button {
  background-color: #FF6600;
  color: white;
  font-weight: 700;
  padding: 15px 40px;
  border: none;
}

footer {
  width: 80vw;
  margin: 0 auto;
}

.footerbox {
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  background-color: #5B605F;
}

.footer_list {
  list-style: disc;
  padding-left: 90px;
  margin: auto;
  margin-bottom: 10px;
}

.footerbox_article {
  width: 25%;
  margin: 0 auto;
  color: white;
}

.footer_title {
  font-size: 22px;
  padding: 20px;
  color: white;
  text-align: center;
}

.footer_text {
  margin: 10px auto;
  text-align: center;
  font-size: 14px;
}

.fab {
  color: white;
  margin-top: 10px;
  font-size: 35px;
  padding: 10px;
  text-align: left;
}

.copyright {
  font-family: "Open Sans", sans-serif;
  max-width: 100%;
  height: 30px;
  background-color: #4a4a49;
  text-align: center;
  color: white;
  font-size: 10px;
  padding: 5px;
  line-height: 20px;
}

.XXX-conflict {
  color: #E58A20;
  font-size: 10px;
  margin: auto;
  padding: 5px;
}

.blank1 {
  width: 80px;
}

.blank2 {
  background-color: #E58A20;
  border: 1px solid #E58A20;
  color: white;
  width: 80px;
}

.welcome_page {
  background-color: #FFFFFA;
  border: 2px dotted #4a4a49;
  height: 90%;
  width: 90%;
  margin: 40px auto 0;
  padding: 1em;
}

.welcome_page_content {
  margin: 40px;
  text-align: center;
}

.welcome_page_greet {
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin: 60px 20px 20px 20px;
  color: #5B605F;
}

.welcome_page_greet2 {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
  color: #5B605F;
}

.welcome_page_input {
  display: block;
  margin: 0 auto;
  width: 50%;
  padding: 10px;
}

.welcome_page_button {
  margin: 20px;
}

.welcome_page_text {
  font-size: 35px;
  color: #5B605F;
  font-family: "Open Sans", sans-serif;
}

.welcome_page_button {
  background-color: #FF6600;
  color: white;
  font-size: 28px;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  padding: 10px 30px;
  border: none;
}

.week_plan {
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  padding: 1em;
  width: 100%;
}

.week_plan_title {
  max-width: 100%;
  text-align: center;
  color: #FF6600;
  padding-bottom: 0.7em;
  border-bottom: 0.01em solid #6b716f;
  font-weight: bold;
}

.week_plan_table {
  width: 100%;
  height: 70%;
  margin: 0 auto;
  padding: 0.7em;
  text-align: center;
  color: #6b716f;
  font-size: 0.9em;
}
.week_plan_table .table-head {
  color: #4a4a49;
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: 0.01em solid #6b716f;
}
.week_plan_table .table-head th {
  padding: 0.5em;
  max-width: 10%;
}
.week_plan_table td {
  padding: 0.7em;
}
.week_plan_table tr {
  border-bottom: 0.01em solid #5B605F;
}

.week_plan_buttons {
  max-width: 100%;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FF6600;
}
.week_plan_buttons span {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.week_plan_buttons i {
  color: #FF6600;
  margin: 0 5px;
}

.schedule_plan {
  height: 90%;
  width: 90%;
  margin: 40px auto 0;
  padding: 2em;
  background-color: #FFFFFA;
  color: #6b716f;
  font-size: 1.7em;
  font-family: "Open Sans", sans-serif;
}

.d_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  height: 30%;
  width: 100%;
  margin: 0 auto;
}

.plan_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #6b716f;
  color: #FF6600;
}
.plan_header button {
  font-size: 0.7em;
  background-color: #FF6600;
  color: white;
  font-weight: 700;
  padding: 10px 10px;
  border: none;
}

.plan_content {
  padding: 0.5em;
}
.plan_content .text {
  grid-column: 1/4;
}
.plan_content .input {
  grid-column: 4/12;
  font-size: 0.8em;
}
.plan_content .plan_description-text {
  grid-row: 2/4;
}
.plan_content .plan_description-input {
  grid-row: 2/4;
}
.plan_content .plan_weekNumber-input {
  text-align: center;
  width: 1.7em;
  font-size: 0.8em;
}

.plan_table {
  width: 100%;
  text-align: center;
}
.plan_table td, .plan_table th {
  width: calc(100% / 6);
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
}
.plan_table .bold {
  font-size: 0.8em;
  font-weight: bold;
  text-align: left;
}
.plan_table thead {
  font-weight: bold;
  border-top: 1px solid #A1A194;
}
.plan_table tr {
  border-bottom: 1px solid #A1A194;
}
.plan_table select {
  font-size: 0.7em;
  max-width: 100%;
  overflow: hidden;
}
.plan_table select option {
  font-size: 0.7em;
}

.d_none {
  display: none;
}

.placeholder_red::-moz-placeholder {
  color: tomato;
}

.placeholder_red:-ms-input-placeholder {
  color: tomato;
}

.placeholder_red::placeholder {
  color: tomato;
}

.week_plan {
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  padding: 1em;
  width: 100%;
}

.week_plan_title {
  max-width: 100%;
  text-align: center;
  color: #FF6600;
  padding-bottom: 0.7em;
  border-bottom: 0.01em solid #6b716f;
  font-weight: bold;
}

.week_plan_table {
  width: 100%;
  height: 70%;
  margin: 0 auto;
  padding: 0.7em;
  text-align: center;
  color: #6b716f;
  font-size: 0.9em;
}
.week_plan_table .table-head {
  color: #4a4a49;
  font-size: 1.1em;
  font-weight: bold;
  border-bottom: 0.01em solid #6b716f;
}
.week_plan_table .table-head th {
  padding: 0.5em;
  max-width: 10%;
}
.week_plan_table td {
  padding: 0.7em;
}
.week_plan_table tr {
  border-bottom: 0.01em solid #5B605F;
}

.week_plan_buttons {
  max-width: 100%;
  height: 3em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FF6600;
}
.week_plan_buttons span {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.week_plan_buttons i {
  color: #FF6600;
  margin: 0 5px;
}

.grid_plan2 {
  background-color: #FFFFFA;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 20px 1fr 1fr 1fr;
  gap: 10px;
  height: 90%;
  width: 90%;
  margin: 40px auto 0;
  padding: 2em;
  border: 2px dotted black;
}

.el1 {
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #A1A194;
  padding-bottom: 10px;
  height: 50px;
}

.el2 {
  grid-column: 1/13;
  grid-row: 2/4;
  margin: 5px;
}

.el3 {
  grid-column: 1/6;
  grid-row: 4/6;
}

.el4 {
  grid-column: 6/13;
  grid-row: 4/6;
  margin-left: 20px;
}

.new_recipe_title {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  color: #FF6600;
  align-self: flex-end;
}

.new_recipe_button {
  background-color: #FF6600;
  padding: 10px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  height: 40px;
  align-self: flex-end;
  margin-right: 10px;
}

.new_recipe_name {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  color: #5B605F;
  font-size: 25px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.new_recipe_description {
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  color: #5B605F;
  font-size: 25px;
  margin-right: 45px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.new_recipe_input1 {
  width: 80%;
  resize: none;
  padding: 10px;
}

.new_recipe_input2 {
  width: 80%;
  margin-top: 10px;
  resize: none;
  height: 120px;
  padding: 10px;
}

.instructions {
  font-family: "Open Sans", sans-serif;
  color: #5B605F;
  width: 95%;
  font-size: 25px;
  border-bottom: 3px solid #A1A194;
  margin: 5px;
  padding: 5px;
}

.textarea_instrcions {
  resize: none;
  width: 80%;
  margin: 10px;
  height: 100px;
  font-style: "Open Sans", sans-serif;
  padding: 10px;
}

.recipe_button {
  background-color: green;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
}

.ingridients {
  font-family: "Open Sans", sans-serif;
  color: #5B605F;
  width: 95%;
  font-size: 25px;
  border-bottom: 3px solid #A1A194;
  margin: 5px;
  padding: 5px;
}

.textarea_indigirends {
  resize: none;
  width: 80%;
  font-style: "Open Sans", sans-serif;
  margin-top: 10px;
  height: 50px;
  padding: 10px;
}

.recipes_container {
  width: 500px;
  height: 250px;
  padding: 20px;
  overflow: auto;
}

.indigirends_container {
  margin-top: 53px;
  width: 700px;
  height: 250px;
  box-sizing: border-box;
  padding: 20px;
  overflow: auto;
}

.d_none {
  display: none;
}

.placeholder_red::-moz-placeholder {
  color: tomato;
}

.placeholder_red:-ms-input-placeholder {
  color: tomato;
}

.placeholder_red::placeholder {
  color: tomato;
}
/*# sourceMappingURL=main.css.map */
