// KOLORY:
$colorNav: #5B605F;  //- panel boczny, nawigacja
$colorHeader: #4a4a49; //   - nagłówek, , kolor tekstu w kolumnach
$colorButtons: #FF6600; //  - przyciski, wyróżnienia, nagłówki ekranów
$colorBackground: #FFFFFA; // - kolor tła ekranów
$colorInfo: #3498DB; // - kolor wiadomości typu info,
$colorWarning: #FFB03B; //  - kolor wiadomości typu warning
$colorSucces: #468966; //  - kolor wiadomości typu success
$colorIconBin: #BD4932; //  - kolor ikony kosza
$colorText: #A1A194; //  - kolor tekstu z wierszy w tabelach, ikony rozszerzonych funkcji

