section {
  display: flex;
}


.container {
  font-family: $fontOpenSans;
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 30px auto;


}
.article {
  display: flex;
  flex-direction: column;
}

.article_title {
  font-size: 22px;
  width: 50%;
  color: $colorHeader;
  text-align: center;
  margin: 10px auto;
}

.article_text {
  width: 70%;
  color: $colorHeader;
  font-size: 18px;
  text-align: center;
  margin: 10px auto;
  padding: 20px;
}

article .fas, article .far {
  font-size: 60px;
  color: $colorText;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
