.banner {
  font-size: 10px;
  position: relative;
  max-width: 80vw;
  margin: 0 auto;

  .banner_img {
    max-height: 70em;
    display: flex;
    overflow-x: hidden;

    img {
      width: 100%;
    }
  }

  .fa-arrow-right {
    font-size: 3em;
    position: absolute;
    top: calc(50% - 0.5em);
    right: 3%;
    cursor: pointer;
  }

  .fa-arrow-left {
    font-size: 3em;
    position: absolute;
    top: calc(50% - 0.5em);
    left: 3%;
    cursor: pointer;
  }


}