
footer {
  width: 80vw;
  margin: 0 auto;
}

.footerbox {
  font-family: $fontOpenSans;
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  background-color: $colorNav;
}

.footer_list {
  list-style: disc;
  margin: auto;
  margin-bottom: 10px;
}

.footerbox_article {
  width: 25%;
  margin: 0 auto;
  color: white;
}

.footer_title {
  font-size: 22px;
  padding: 20px;
  color: white;
  text-align: center;
}

.footer_text {
  margin: 10px auto;
  text-align: center;
  font-size: 14px;
}

.fab {
  color: white;
  margin-top: 10px;
  font-size: 35px;
  padding: 10px;
  text-align: left;
}

.copyright {
  font-family: $fontOpenSans;
  max-width: 100%;
  height: 30px;
  background-color: $colorHeader;
  text-align: center;
  color: white;
  font-size: 10px;
  padding: 5px;
  line-height: 20px;
}

.XXX-conflict {
  color: $colorLogo;
  font-size: 10px;
  margin: auto;
  padding: 5px;
}

.blank1 {
  width: 80px;
}

.blank2 {
  background-color: $colorLogo;
  border: 1px solid $colorLogo;
  color: white;
  width: 80px;
}