.grid_plan {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 15px;

  height: 90%;
  width: 90%;
  margin: 40px auto 0;
  padding: 1em;

}

.add_recipt {
  grid-column: 1 / 4;
  grid-row: 1 / 4;
  background-color: $colorBackground;
  border: 2px dotted $colorHeader;
}

.add_plan {
  grid-column: 4 / 7;
  grid-row: 1 / 4;
  background-color: $colorBackground;
  border: 2px dotted $colorHeader;
}

.notification_info {
  grid-column: 1 / 2;
  background-color: $colorBackground;
  border: 2px dotted $colorInfo;
  display: flex;
  justify-content: space-between;
  align-items: center;


  .fas {
    color: $colorInfo;
    font-size: 32px;
  }

  h3 {
    flex: 1;
    font-family: $fontOpenSans;
    color: $colorInfo;
    font-size: 20px;
    padding-left: 15px;
  }
}

.notification_waring {
  grid-column: 1 / 2;
  background-color: $colorBackground;
  border: 2px dotted $colorWarning;

  display: flex;
  justify-content: space-between;
  align-items: center;


  .fas {
    color: $colorWarning;
    font-size: 32px;
  }

  h3 {
    flex: 1;
    font-family: $fontOpenSans;
    color: $colorWarning;

    font-size: 20px;
    padding-left: 15px;
  }
}

.notification_succes {
  grid-column: 1 / 2;
  background-color: $colorBackground;
  border: 2px dotted $colorSuccess;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $fontOpenSans;
  font-size: 20px;

  .fas {
    color: $colorSuccess;
    font-size: 32px;

  }

  h3 {
    flex: 1;
    font-family: $fontOpenSans;
    color: $colorSuccess;
    font-size: 20px;
    padding-left: 15px;
  }


}

.fa-info-circle,

,
.fa-exclamation-circle, .fa-check-circle {
  font-size: 40px;
  padding: 5px;
}

.notification_close {
  align-self: flex-start;
}

.notification_close .fa-window-close {
  font-size: 20px;
  align-self: flex-start;
  padding: 5px;
}

.week_plan {
  grid-column: 1 / 13;
  grid-row: 4 / 13;
  background-color: $colorBackground;
  border: 2px dotted $colorHeader;
}

.notification_box {
  grid-column: 7 / 13;
  grid-row: 1 / 4;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
}