.header {
  display: flex;
  justify-content: center;
}

.first_navigation {
  width: 80%;
  background-color: $colorNav;
  display: flex;
  justify-content: space-between;
}
.navigation_logo {
  font-family: $fontCharmonman;
  color: white;
  margin: 2rem;
  font-size: 3rem;
  padding-left: 3rem;

}
.navigation_logo_2 {
  color: $colorLogo;
}
.nav_list {
display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $fontOpenSans;
  font-size: 1rem;
  width: 50rem;
  color: white;
  list-style: none;
  margin-right: 3rem;
}
.navigation_link {
  color: white;
  text-decoration: none;
  margin-right: 3rem;


}
.navigation_link:hover {
  color: $colorButtons;
}
