.grid_plan2 {
  background-color: #FFFFFA;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px 20px 1fr 1fr 1fr;
  gap: 10px;
  height: 90%;
  width: 90%;
  margin: 40px auto 0;
  padding: 2em;
  border: 2px dotted black;
}

.el {
  //border: 1px solid black;
}

.el1 {
  grid-column: 1 / 13;

  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid $colorText;
  padding-bottom: 10px;
  height: 50px;
}

.el2 {
  grid-column: 1 / 13;
  grid-row: 2/4;
  margin: 5px;
}

.el3 {
  grid-column: 1 / 6;
  grid-row: 4/6;
}

.el4 {
  grid-column: 6 / 13;
  grid-row: 4/6;
  margin-left: 20px;
}

.new_recipe_title {
  font-family: $fontOpenSans;
  font-size: 25px;
  color: $colorButtons;
  align-self: flex-end;
}

.new_recipe_button {
  background-color: $colorButtons;
  border: none;
  color: white;
  font-family: $fontOpenSans;
  font-weight: bold;
  height: 40px;
  align-self: flex-end;
  margin-right: 10px;
}

.new_recipe_name {
  display: inline-block;
  font-family: $fontOpenSans;
  color: $colorNav;
  font-size: 25px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.new_recipe_description {
  display: inline-block;
  font-family: $fontOpenSans;
  color: $colorNav;
  font-size: 25px;
  margin-right: 45px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.new_recipe_input1 {
  width: 80%;
  resize: none;
  padding: 10px;

}

.new_recipe_input2 {
  width: 80%;
  margin-top: 10px;
  resize: none;
  height: 120px;
  padding: 10px;
}

.instructions {
  font-family: $fontOpenSans;
  color: $colorNav;
  width: 95%;
  font-size: 25px;
  border-bottom: 3px solid $colorText;
  margin: 5px;
  padding: 5px;
}

.textarea_instrcions {
  resize: none;
  width: 80%;
  margin: 10px;
  height: 100px;
  font-style: $fontOpenSans;
  padding: 10px;
}

.recipe_button {
  background-color: green;
  color: white;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
}


.ingridients {
  font-family: $fontOpenSans;
  color: $colorNav;
  width: 95%;
  font-size: 25px;
  border-bottom: 3px solid $colorText;
  margin: 5px;
  padding: 5px;
}

.textarea_ingridients {
  resize: none;
  width: 80%;
  font-style: $fontOpenSans;
  margin-top: 10px;
  height: 50px;
  padding: 10px;
}

.recipes_container {
  width: 500px;
  height: 250px;
  padding: 20px;
  overflow: auto;
}

.ingridients_container {
  margin-top: 60px;
  width: 700px;
  height: 250px;
  box-sizing: border-box;
  padding: 20px;
  overflow: auto;
}

.recipes_container_ul {
  list-style-type: decimal;
  font-family: $fontOpenSans;
  color: $colorNav;
  font-size: 16px;
  line-height: 22px;
}

.ingridients_container_ul {
  list-style-type: disc;
  font-family: $fontOpenSans;
  color: $colorNav;
  font-size: 16px;
  line-height: 22px;
}