.schedule_plan, .edit_plan {
  height: 90%;
  width: 90%;
  margin: 40px auto 0;
  padding: 2em;
  background-color: $colorBackground;
  color: $colorTable;
  font-size: 1.7em;
  font-family: $fontOpenSans;
  border: 2px dotted black;
}


.d_grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 15px;
  height: 30%;
  width: 100%;
  margin: 0 auto;

}

.plan_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid $colorTable;
  color: $colorButtons;
  font-weight: bold;

  button {
    font-size: 0.7em;
    background-color: $colorButtons;
    color: white;
    font-weight: 700;
    padding: 10px 10px;
    border: none;
  }
}

.plan_content {
  padding: 0.5em;

  .text {
    grid-column: 1 / 4;
  }

  .input {
    grid-column: 4/12;
    font-size: 0.8em;
  }

  .plan_description-text {
    grid-row: 2/4;
  }

  .plan_description-input {
    grid-row: 2/4;
  }

  .plan_weekNumber-input {
    text-align: center;
    width: 1.7em;
    font-size: 0.8em;
  }
}

.plan_table {
  width: 100%;
  text-align: center;

  td, th {
    width: calc(100% / 6);
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
  }

  .bold {
    font-size: 0.8em;
    font-weight: bold;
    text-align: left;
  }
  thead {
    font-weight: bold;
    border-top: 1px solid $colorText;
  }

  tr {
    border-bottom: 1px solid $colorText;
  }

  select {
    font-size: 0.7em;
    max-width: 100%;
    overflow: hidden;
    option {
      font-size: 0.7em;
    }
  }
}
